<%= form_with(model: song, local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist %>
  </div>

  <div class="field">
    <p>catogrie<p>
    <%= form.collection_select :catogrie_id, Catogrie.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.file_field :url %>
    <% if form.object.url? %>
    <%= audio_tag form.object.url %>
    <%= form.label :remove_audio %>
    <%= form.check_box :remove_audio %> 
  <% end %>
  
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
