  
  <p id="notice"><%= notice %></p>
  
  <!-- Music Slider -->
  <section class="slider_sec">
    <div class="container-fluid fix-cont">
        <div class="row">
            <div class="col-lg-12">
                <div class="slider_in">
                    <h3>MUSIC GENRE</h3>
                    <div id="owl-carousel" class="owl-carousel owl-theme">
                        <% Catogrie.all.each do |catogry| %>
                            <%= link_to catogrie_path(catogry) do%> 
                                <div class="item">
                                  <div class="img_wrp">
                                    <div class="img_text">
                                        <h5><%= catogry.name %> </h5>
                                    </div>
                                    <img src="https://i.pinimg.com/originals/cb/90/98/cb9098c9be7bdf4864db889f935284b7.jpg" alt="">
                                  </div>
                                </div>
                            <%end%>
                        <% end %>
                    </div>
                </div>
            </div>
          </div>
          <div class="jumbotron majd">
          <h3>Most Recent Uploaded Songs</h3>
          </div>
      </div>
  </section>

    <!-- // slder sec -->
    

<div class="jumbotron majd">
        
          <% @songs.each do |song| %> 
          
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li>
    <div class="container">
        <div class="row">
            
        <div class="col-xs-6">
            <img src="<%= image_path(song.image.url) %>" height="250" width="250"/>
        </div>
            
        <div class="col-xs-6 songCont">

            <div class="row">
                  <p class="title"><%= song.title %></p>
            </div>

            <div class="row artist">
                  <div class="col-xs-6 songInfo">
                  <p><%= song.artist %> </p>
                  </div>
                  <div class="col-xs-6">
                  <p class="catog">(<%= Catogrie.find(song.catogrie_id).name %>)</p>
                  </div>
            </div>

            <div class="row">
                  <audio controls src="<%=song.url %>"  style="width: 700px;"></audio>
            </div>

            <div class="row songSer">

                  <div class="col-xs-4 comment">
                      <span class="song"><%= Comment.where({song_id: song.id}).count%></span>
                      <span class="song"><%= link_to '', song, :class => "fa fa-comment link" %></span>
                  </div>
      
                  <div class="col-xs-4 like">
                      <% if current_user %>
                          <span class="song"><%= Like.where({song_id: song.id}).count%></span>
                          <span class="song">
                          <% like = current_user.likes.where({song_id: song.id})[0]%>
                          <% if like %>
                            <% id = like.id %>
                            <%= link_to "", song_like_path(song,id),  method: :delete, :class => "fa fa-heart" %>
                          <% else %>
                            <%= link_to "", song_likes_path(song), method: :post, :class => "fa fa-heart" %>
                          <% end %> 
                          </span>
                          <% else %>
                          <span class="song"><%= Like.where({song_id: song.id}).count%></span>
                          <span class="song"><%= link_to "", new_user_session_path, :class => "fa fa-heart" %></span> 
                      <% end %> 
                  </div>
      
                  <div class="col-xs-4 show">
                        <span class="song"><%= link_to "", song, :class => "fa fa-expand" %></span>
                  </div>

            </div>

        </div>

        </div>
    </div>
    </li>
    </ol>
    </nav>
           
          <% end %>
      <br>
      
  </div>


     <%# //Jquery auto height    %>
    <script>
    $(document).ready(function(){
         $('#owl-carousel').owlCarousel({
            loop: true,
            margin: 50,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 2,
                    nav: false
                },
                768: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 3,
                    nav: true,
                    loop: true
                }
            }
        });
    });   
    </script>
