<!DOCTYPE html>
<html>
  <head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
    <title>Cadence</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container navCon">
    <img src="https://i.imgur.com/drrCDV2.png" width="250" height="100">
  </div>
  
      <% if user_signed_in? %>
       <%= link_to "My Songs".html_safe, user_songs_path, :class => "btn btn-outline-light" %>
       <%= link_to "Logout".html_safe, destroy_user_session_path, :class => "btn btn-outline-light", method: :delete %>
      <% else %>
      <%= link_to "LogIn".html_safe, new_user_session_path, :class => "btn btn-outline-light" %>
      <%= link_to "SignUp".html_safe, new_user_registration_path, :class => "btn btn-outline-light" %>
      <% end %>

</nav>

    <div class="container main-container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %> 
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>