<!DOCTYPE html>
<html>
  <head>
    <title>AAAM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
 
  <% if user_signed_in? %>
  Welcome, <%= current_user.email %> |
  <%= link_to "logout", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "login", new_user_session_path %>
  <%= link_to "sign Up", new_user_registration_path %>
  <% end %>

    <%= yield %>
  </body>
</html>